%%-*- mode: erlang -*-
{erl_opts, [warnings_as_errors]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls]}.

{deps,
 [{mochiweb, "", {git, "git://github.com/spilgames/mochiweb.git", {tag, "2.8.0-spil1"}}},
  {meck, "", {git, "git://github.com/spilgames/meck.git", {tag, "0.7.2-0"}}},
  {ibrowse, "4.0.1", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}}
 ]}.
